:root {
    --primary: #5C7FA9;
    --text-light: #eeeeee;
    --background: #191E29;
    --background-light: #202633;
}

*,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    body {
        color: var(--text-light);
        font-family: 'Inter', sans-serif;

        padding: 2rem 4rem;

        background: url('./background.jpg');
        background-size: cover;
        background-attachment:fixed;
        box-sizing: border-box;
    }

    .filter{
        background:#000000;
        opacity:0.7;
        position:fixed;
        height:100vh;
        width:100%;
        top:0;
        left:0;
        pointer-events:none;
    }

    h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    h1 > span {
        color: var(--primary);
    }

    main {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    .header {
        font-weight: 400;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        z-index:2;
    }

    #currentDate {
        color: var(--primary);
    }

    #currentTime {
        font-size: 4rem;
        font-weight: 600;
    }

    @media screen and (max-width: 1250px) {
        h1 {
            display: none;
        }

        .header {
            flex-direction: column-reverse;
        }

        #currentTime {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        #fullDate {
            text-align: center;
        }
    }

    .card:link,
    .card:visited {
        color: white;
        text-decoration: none;

        margin: 1.2rem;
        height:150px;
        width:150px;
        background-color: var(--background-light);
        border-radius: 15px;
        border: 1px solid rgba(255,255,255,.05);

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
        cursor: pointer;
        position: relative;

        outline: none;
        transition: 0.1s;
    }

    .card:hover,
    .card:focus {
        border-color: var(--primary);
        color: var(--primary);

        transform: scale(1.02);
    }

    .card:focus > .card__name {
        bottom: 0;
    }

    .card:hover > .card__name {
        bottom: 0;
    }

    .card__icon {
        font-size: 2rem;

        padding: 1rem;

        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 50%;

        display: grid;
        place-items: center;
    }

    .card__name {
        font-weight: 400;

        transform: translate(-50%, -50%);

        position: absolute;
        bottom: -25%;
        left: 50%;

        transition: 0.1s;
    }
